{% extends 'layouts.layout' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center column">
                <h3>Event Date</h3><br>
                <h3>Event Location</h3><br>
                <dl>
                    <dd><a href="#game1">games.name</a></dd>
                    <dd><a href="#game2">games.name</a></dd>
                    <dd><a href="#game3">games.name</a></dd>
                    <dd><a href="#game4">games.name</a></dd>
                    <dd><a href="#game5">games.name</a></dd>
                    <dd><a href="#game6">games.name</a></dd>
                    <dd><a href="#game7">games.name</a></dd>
                    <dd><a href="#game8">games.name</a></dd>
                </dl>
            <dl class="text-center">
                <dl>
                  <dt id="game1">Game 1</dt>
                  <dd>Cast</dd>
                  <dt id="game2">Game 2</dt>
                  <dd>Cast</dd>
                  <dt id="game3">Game 3</dt>
                  <dd>Cast</dd>
                  <dt id="game4">Game 4</dt>
                  <dd>Cast</dd>
                  <dt id="game5">Game 5</dt>
                  <dd>Cast</dd>
                  <dt id="game6">Game 6</dt>
                  <dd>Cast</dd>
                  <dt id="game7">Game 7</dt>
                  <dd>Cast</dd>
                  <dt id="game8">Game 8</dt>
                  <dd>Cast</dd>
                </dl>
            </dl>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/activeshow.js"></script>
{% endblock %}
