{% extends 'layout' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <strong>Event Date</strong><br>
                <strong>Event Location</strong><br>
            <dl class="text-left">
                <dl>
                  <dt>Game 1</dt>
                  <dd>Cast</dd>
                  <dt>Game 2</dt>
                  <dd>Cast</dd>
                  <dt>Game 3</dt>
                  <dd>Cast</dd>
                  <dt>Game 4</dt>
                  <dd>Cast</dd>
                </dl>
            </dl>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/activeshow.js"></script>
{% endblock %}
