<!DOCTYPE html>
<html>
<head>
    <title>YesAnd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
</head>
<body>
    <header class="container-fluid">
        <div class="row" id="topMenu">
            <div class="col-sm-12">
                <span id="homeButton" href="/">Home</span>
                <span id="gamesButton" href="games.html">Games</span>
                <span id="castListsButton">Cast Lists</span>
                <span id="directorButton">Director</span>
                <img src="/assets/logo.jpg" alt="Your logo">
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" id="subMenu">
                <div>
                    <span id="newGameButton" href="games.html"><a href="#">Create a New Game</a></span>
                    <span id="newShowButton"><a href="#">Create a New Show</a></span>
                    <span id="newSoundEffect"><a href="#">Add a New Sound Effect</a></span>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
