{% extends 'layouts.layout-guest' %}

{% block content %}
    {# {% include 'nav' %} #}
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="centering text-center col-sm-6">

          {{ csrfField }}

        <form class="shadow" id="login">
          <div class="form-group text-left">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="emailAddressLogin" placeholder="Email">
          </div>
          <div class="form-group text-left">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
          </div>
          <button type="button" class="btn btn-default" id="loginButton" action>Submit</button>
        </form>
        <br>
        <button type="button" class="btn btn-link" id="signUpLink"><a href="/signup">Click here to sign up</a></button><br>
      </div>

      <div class="col-sm3"></div>
    </div>
  </div>
    <script type="text/javascript" src="/js/login.js"></script>
{% endblock %}
