{% extends 'layouts.layout' %}


{% block content %}

{# {{ form.open({action: 'GameController.store'})}} #}

{# {{ currentUser }} #}

<main>
    <div class="container">
        <div id="newgame">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" id="newGameForm">
                    <form>
                        <input type="text" id="gameName" class="form-control" placeholder="Game Name"><br>
                        <textarea id="gameDescription" class="form-control" rows="3" placeholder="Game Description"></textarea><br>
                        <input type="text" id="gameSuggestion" class="form-control" placeholder="Game Suggestion"><br>
                        <button type="button" id="gameSubmit" class="btn btn-default" onclick="myFunction()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/newGame.js"></script>
{% endblock %}
