{% extends 'layouts.layout' %}


{% block content %}
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3>Create a New Show!</h3>
        </div>
        <div class="panel-body shadow">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group"><label for="show_date">Date</label>
                        <input type="date" id="show_date" name="show_date" class=
                        "form-control" required="">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group"><label for="last_name">Location</label>
                        <input type="text" id="show_location" name="show_location" class=
                        "form-control" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 cast">
                    <label class="checkbox-inline" id="inlineCheckbox1">
                        {# <input type="checkbox" name="option1"> 1 #}
                    </label>
                    {# <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                    </label> #}
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-default" type="button" name="button" id="addNewShowPart1" onclick="window.location='/newshowgames';">Step 1 of 2</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End First & Last Name -->
<br>
<br>


</main>
<script type="text/javascript" src="/js/newShow.js"></script>
{% endblock %}
