{% extends 'layout' %}

{% block content %}

{{ form.open({action: 'UserController.store'})}}

{# {% include 'nav' %} #}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 span3 centering text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Welcome to YesAnd...</h4>
                </div>
            </div>
            <form class="shadow" id="signUp">
                <div class="form-group text-left">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="userFirstName" placeholder="Andy">
                </div>
                <div class="form-group text-left">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="userLastName" placeholder="Kaufman">
                </div>
                <div class="form-group text-left">
                    <label for="phoneNumberLogin">Phone Number</label>
                    <input type="text" class="form-control" id="userPhoneNumber" placeholder="317-555-1234">
                </div>
                <div class="form-group text-left">
                    <label for="emailAddressLogin">Email address/Username</label>
                    <input type="email" class="form-control" id="userEmailAddress" placeholder="funny.person@fakemail.com">
                </div>
                <div class="form-group text-left">
                    <label for="passwordLogin">Password</label>
                    <input type="password" class="form-control" id="userPassword" placeholder="Password">
                </div>
                {# <div class="form-group text-left" id="userPhoto">
                    <label for="profilePic">Upload your Photo</label>
                    <input type="file" id="profilePic">
                </div> #}
                <button type="button" class="btn btn-default" id="signUpUserButton">Submit</button>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/newUser.js"></script>
{% endblock %}
