{% extends 'layouts.layout' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <h1 class="text-center">Show Database</h1>
            </div>
            <div class="row">
                <div class="col-sm-8" id="showspageimagemobile">
                    <img src="/assets/showspage.png" alt="Laugh at Yourself">
                </div>
                <div class="col-sm-4">
                    <div class="container">
                        <ul id="pastShowDropDownList" class="list-unstyled"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/showList.js"></script>
{% endblock %}
