{% extends 'layouts.layout' %}


{% block content %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-control" id="theListOfShows">
                    <ul>
                        <li><a href="#">Show</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/newSound.js"></script>
{% endblock %}
