{% extends 'layout' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 centering text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Welcome to YesAnd...</h4>
                    <h5>By signing up, you are automatically registering as your team's admin. Please <u>click here</u> to view information about our user permissions!</h5>
                </div>
            </div>

            <div class="well">
                <h3>Team Information</h3>
                <div class="form-group text-left">
                    <label for="teamName">Team Name</label>
                    <input type="text" class="form-control" id="teamName" placeholder="Team Name" required>
                </div>
                <div class="form-group text-left">
                    <label for="teamName">Website</label>
                    <input type="text" class="form-control" id="teamWebsite" placeholder="Team Name" required>
                </div>
                <div class="form-group text-left">
                    <label for="firstName">City</label>
                    <input type="text" class="form-control" id="teamCity" placeholder="Pawnee" required>
                </div>
                <div class="form-group text-left">
                    <label for="firstName">State</label>
                    <input type="text" class="form-control" id="teamState" placeholder="Indiana" required>
                </div>
            </div>
            <div class="well">
                <div class="form-group text-left">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Andy" required>
                </div>
                <div class="form-group text-left">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Kaufman" required>
                </div>
                <div class="form-group text-left">
                    <label for="emailAddressLogin">Email address</label>
                    <input type="email" class="form-control" id="emailAddressLogin" placeholder="funny.person@fakemail.com" required>
                </div>
                <div class="form-group text-left">
                    <label for="teamName">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" placeholder="317-867-5309" required>
                </div>
                <div class="form-group text-left">
                    <label for="passwordLogin">Password</label>
                    <input type="password" class="form-control" id="passwordLogin" placeholder="Password" required>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-lg" id="signUpTeamButton">Submit
            </button>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/newTeam.js"></script>
{% endblock %}
