{% extends 'layouts.layout-guest' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 shadowtext">
            <h1 class="text-center">Thanks for Saving the New Show!</h1>
            <p class="text-center shadowtext"><a href="/shows">Click here to view your listing of shows</a></p>
            <p class="text-center shadowtext"><a href="/newgame">Click here to create a new show!</a></p>
        </div>
    </div>
</div>
{% endblock %}
