{% extends 'layouts.layout-guest' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 shadowtext">
            <h1 class="text-center">Thanks for Saving the New Game!</h1>
            <p class="text-center shadowtext"><a href="/games">Click here to view your games repo</a></p>
            <p class="text-center shadowtext"><a href="/newgame">Click here to create a new game!</a></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/welcome.js"></script>
{% endblock %}
    {# <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Thank you for creating a new game!</h1>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 pull-left">
                    <a href="/games">Click here to view your games repo</a>
                </div>
                <div class="col-sm-6 pull-right">
                    <a href="/newgame">Click here to create a new game!</a>
                </div>
            </div>
        </div>
    </div> #}
