{% extends 'layouts.layout' %}

{% block content%}
    {# <h1>Wlcome</h1> #}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 shadowtext">
                <img id="backgroundimagewelcomescreen" src="/assets/welcomescreen.jpg" border="0" alt="">
                <h1 class="text-center">Welcome to YesAnd!</h1>
                <p class="text-center shadowtext"><a href="/shows">Click here to view your shows!</a></p>
            </div>
        </div>
    </div>



    {# <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" id="editPlayersMenu">
                <div>
                    <dl>
                        <dd><a href="#game1">users.first_name + ' ' + users.last_name</a></dd>
                        <dd><a href="#game2">users.first_name + ' ' + users.last_name</a></dd>
                        <dd><a href="#game3">users.first_name + ' ' + users.last_name</a></dd>
                        <dd><a href="#game4">users.first_name + ' ' + users.last_name</a></dd>
                        <dd><a href="#game5">users.first_name + ' ' + users.last_name</a></dd>
                        <dd><a href="#game6">users.first_name + ' ' + users.last_name</a></dd>
                        <dd><a href="#game7">users.first_name + ' ' + users.last_name</a></dd>
                        <dd><a href="#game8">users.first_name + ' ' + users.last_name</a></dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-9" id="directorWelcomeDisplay">
                <h3 class="text-center">Welcome to YesAnd</h3>
                <dl>
                    <dd><a href="#game1">shows.location + ' ' + shows.date</a></dd>
                    <dd><a href="#game2">shows.location + ' ' + shows.date</a></dd>
                    <dd><a href="#game3">shows.location + ' ' + shows.date</a></dd>
                    <dd><a href="#game4">shows.location + ' ' + shows.date</a></dd>
                    <dd><a href="#game5">shows.location + ' ' + shows.date</a></dd>
                </dl>
            </div>
        </div>
    </div> #}


<script type="text/javascript" src="/js/welcome.js"></script>
{% endblock %}
