{% extends 'layouts.layout' %}

{% block content%}
    {# <h1>Wlcome</h1> #}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="text-center">Welcome to YesAnd</h3>
                <p><a href="/playeredit">Click here to view and edit your credentials</a></p>
            </div>
        </div>
    </div>
{% endblock %}
