html, body{height:100%; font-family: 'Lato', sans-serif;}

* { box-sizing: border-box; }

#topMenu {
    background-color: #9E9E9E;
    color: white;
    display: inline-block;
    font-size: 20px;
    height: 10vh;
    padding: 10px;
    width: 100vw;
    img {
      border-radius: 50%;
      height: 7vh;
      margin-bottom: 10px;
      float: right !important;
    }
    span {
        font-size: 5vh;
        text-decoration: none;
        margin-left: 5vw;
    }
    span:hover {
        text-decoration: underline !important
    }
}

#subMenu {
    padding-left: 4.7vw;
    margin-top: -10px;
    background-color: #E0E0E0;
    color: black;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    span {
        padding-left: 30px;
        text-decoration: none;
    }
    span:hover {
        text-decoration: underline !important
    }
}

.topPadding {
    padding-top: 20px;
}

h4 {
    margin-top: 15px;
}

select {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    border-right: 1px solid gray;
    height: 100vh;
}

form {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
}

.shadow {
  -moz-box-shadow:    3px 3px 8px 3px lightgray;
  -webkit-box-shadow: 3px 3px 8px 3px lightgray;
  box-shadow:         3px 3px 8px 3px lightgray;
}

.panel-body {
  border-radius: 5px;
}

.toplinks {
  a {
    color: white;
  }
}

.addNewPlayerRow {
  width: 80%;
  margin-top: 30px;
}

.playerArrangement {
    margin-right: 10vw;
}

.selectpicker {
    border: 1px solid gray;
}

.borderaddnewplayer {
  padding-right: 1px solid gray;
}

.shadowtext {
  h1 {
    font-size: 50px;
  }
  p {
    padding-top: 0px;
  }
  padding-top: 40px;
  color: white;
  text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
  a {
    color: white;
    font-size: 20px;
  }
  a:hover {
      text-decoration: underline !important
  }

}

.cast {
	float: left;
	width: 50%;
  box-sizing: border-box;
  color: gray;
  padding: 10px;
  flex: 1 0 25%;
  margin-left: -32px;
}

.checkbox {
    margin-left: -28px;
    padding-top: 0px;
}

#newGameForm {
  margin-top: 30px;
  // float:none;
  // margin:0 auto;
  // vertical-align: middle;
  // float: none;
}

#gameDropDown {
  margin-top: 29.25px;
}

#gameDropDownMenu {
    margin-top: 29.25px;
}

#showList {
    margin-top: 26px;
}
#gameDescription {
    margin-top: 3px;
}
#castListing {
  margin-left: 21px;
}

#newGameTable {
  margin-top: 0px;
}

#newSoundForm {
  margin-top: 29.25px;
}
#soundList {
  margin-top: 29.25px;
}
#existingSoundBoard {
  margin-top: 19px;
}
#pushUploadDown {
  margin-bottom: 10px;
}

#more_fields {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin-top: -40px;
}

#addNewShowPart1 {
  margin-left: 5vw;
}

#gameDescription {
    margin-top: 29.25px;
}

#deleteGame {
  border-radius: 50%;
  margin-top: 40px;
}

#backgroundimagewelcomescreen {
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 674px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#gameAccordion {
    margin-top: 20px;
}

#addNewShowComplete {
    margin-top: 20px;
}

#thankYouGame {
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 674px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background-size: cover;
}

// #inlineCheckbox1 {
//   margin-left: -37px;
// }
