html, body{height:100%; font-family: 'Lato', sans-serif;}

* { box-sizing: border-box; }

#topMenu {
    background-color: #3F51B5;
    color: white;
    display: inline-block;
    font-size: 20px;
    height: 10vh;
    padding: 10px;
    width: 100vw;
    img {
      border-radius: 50%;
      height: 7vh;
      margin-bottom: 10px;
      float: right !important;
    }
    span {
        font-size: 5vh;
        text-decoration: none;
        margin-left: 5vw;
    }
    span:hover {
        text-decoration: underline !important
    }
}

#subMenu {
    padding-left: 4.7vw;
    margin-top: -10px;
    background-color: #7986CB;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    span {
        padding-left: 30px;
        text-decoration: none;
    }
    span:hover {
        text-decoration: underline !important
    }
}

.topPadding {
    padding-top: 20px;
}

h4 {
    margin-top: 15px;
}

select {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    border-right: 1px solid gray;
    height: 100vh;
}

form {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
}

.shadow {
  -moz-box-shadow:    3px 3px 8px 3px lightgray;
  -webkit-box-shadow: 3px 3px 8px 3px lightgray;
  box-shadow:         3px 3px 8px 3px lightgray;
}

.panel-body {
  border-radius: 5px;
}

.toplinks {
  a {
    color: white;
  }
}

#newGameForm {
  margin-top: 30px;
  // float:none;
  // margin:0 auto;
  // vertical-align: middle;
  // float: none;
}

#gameDropDownMenu {
    margin-top: 29.25px;
}

#showList {
    margin-top: 26px;
}
#gameDescription {
    margin-top: 3px;
}
#castListing {
  margin-left: 21px;
}

#newGameTable {
  margin-top: 29.25px;
}

#newSoundForm {
  margin-top: 29.25px;
}
#soundList {
  margin-top: 29.25px;
}
