html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  background: linear-gradient(white, #EDEEF0);
  height: 100vh;
}

#topMenu {
  background-color: #9E9E9E;
  color: white;
  display: inline-block;
  font-size: 20px;
  min-height: 10vh;
  padding: 10px;
  width: 100vw;
}

#topMenu span {
  font-size: 5vh;
  text-decoration: none;
  margin-left: 5vw;
}

.fade {
  opacity: 0.6;
}

.fade:hover {
  opacity: 1;
}

#subMenu {
  padding-left: 4.7vw;
  min-height: 7vh;
  margin-top: -10px;
  background-color: #E0E0E0;
  color: black;
  padding-top: 14px;
  font-size: 15px;
  text-decoration: none;
}

#subMenu span {
  padding-left: 30px;
  text-decoration: none;
}

.topPadding {
  padding-top: 20px;
}

h4 {
  margin-top: 15px;
}

select {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar {
  border-right: 1px solid gray;
  height: 100vh;
}

form {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
  background: white;
}

.shadow {
  -moz-box-shadow: 3px 3px 8px 3px lightgray;
  -webkit-box-shadow: 3px 3px 8px 3px lightgray;
  box-shadow: 3px 3px 8px 3px lightgray;
}

.panel-body {
  border-radius: 5px;
}

.toplinks a {
  color: white;
}

.addNewPlayerRow {
  width: 80%;
  margin-top: 30px;
}

.dixflexcolumn {
  padding-left: 10px;
}

.playerArrangement {
  margin-left: 0px;
}

.playerArrangement2 {
  margin-left: 50px;
}

.selectpicker {
  border: 1px solid gray;
}

.theGameCast {
  margin-left: -13px;
}

.borderaddnewplayer {
  padding-right: 1px solid gray;
}

.shadowtext {
  padding-top: 40px;
  color: white;
  text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
}

.shadowtext img {
  width: 100%;
}

.shadowtext h1 {
  font-size: 50px;
}

.shadowtext p {
  padding-top: 0px;
}

.shadowtext a {
  color: white;
  font-size: 20px;
}

.shadowtext a:hover {
  text-decoration: underline !important;
}

.cast {
  float: left;
  width: 50%;
  box-sizing: border-box;
  color: gray;
  padding: 10px;
  flex: 1 0 25%;
  margin-left: -32px;
}

.checkbox {
  margin-left: -28px;
  padding-top: 0px;
  padding-right: 50px;
}

.newshowMargin {
  margin-top: 20px;
  height: 100px;
}

.newshowHeight {
  height: 500px;
}

.divflexcolumn {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

.showScroll {
  max-height: 500px;
}

#newGameForm {
  margin-top: 30px;
}

#gameDropDown {
  margin-top: 29.25px;
}

#gameDropDownMenu {
  margin-top: 29.25px;
}

#showList {
  margin-top: 26px;
}

#gameDescription {
  margin-top: 3px;
}

#castListing {
  margin-left: 21px;
}

#newGameTable {
  margin-top: 0px;
}

#newSoundForm {
  margin-top: 29.25px;
}

#soundList {
  margin-top: 29.25px;
}

#existingSoundBoard {
  margin-top: 19px;
}

#pushUploadDown {
  margin-bottom: 10px;
}

#more_fields {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  margin-top: -40px;
}

#addNewShowPart1 {
  margin-left: 2.5vw;
  margin-bottom: 20px;
}

#deleteGame {
  border-radius: 50%;
  margin-top: 40px;
}

#backgroundimagewelcomescreen {
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 674px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#gameAccordion {
  margin-top: 20px;
}

#addNewShowComplete {
  margin-top: 20px;
  margin-bottom: 20px;
}

#thankYouGame {
  height: auto;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 674px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background-size: cover;
}

#newShowButton {
  margin-left: -98px;
}

#addNewPlayer {
  margin-left: -196px;
}

#pastShowDropDownList {
  color: black;
  text-shadow: -0.75px 0 white, 0 0.75px white, 0.75px 0 white, 0 -0.75px white;
  overflow: scroll;
  height: 800px;
  padding-top: 20px;
  margin-left: -100px;
}

#signUpTeamButton {
  margin: 20px;
}

@media screen and (max-width: 768px) {
  #newShowButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #addNewPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #newGameButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 555px) {
  #pastShowDropDownList {
    padding-left: 45px;
    margin-left: 0px;
  }
  #showspageimagemobile img {
    min-width: 100%;
    max-height: 350px;
  }
  #newShowButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #addNewPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #newGameButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
