body {
  background: linear-gradient(white, #EDEEF0);
  height: 102vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}

.container {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.row {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 0 auto;
}

form {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}

.shadow {
  -moz-box-shadow: 3px 3px 8px 3px lightgray;
  -webkit-box-shadow: 3px 3px 8px 3px lightgray;
  box-shadow: 3px 3px 8px 3px lightgray;
}

#topMenu {
  background-color: #3F51B5;
  color: white;
  display: inline-block;
  font-size: 20px;
}

#topMenu span {
  padding-left: 30px;
  text-decoration: none;
}

#topMenu span:hover {
  text-decoration: underline !important;
}

#subMenu {
  background-color: #7986CB;
  color: white;
  display: inline-block;
  font-size: 15px;
}

#subMenu span {
  padding-left: 30px;
  text-decoration: none;
}

#subMenu span:hover {
  text-decoration: underline !important;
}

.topPadding {
  padding-top: 20px;
}

h4 {
  margin-top: 15px;
}

select {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar {
  border-right: 1px solid gray;
  height: 100vh;
}
