<h2> Heya! </h2>

<p> Welcome to the kitten's world. We will be sharing lots of cute kittens with you soon</p>

<a href="http://localhost:3333/newuser?team_id={{ team_id }}">Click here to join us!</a>
